<form class="contact-form" action="https://submit-form.com/fwvH2jf7u" data-botpoison-public-key="pk_bbb182a9-1ff3-4d9a-839c-06e45f41a6e6">
  <input type="hidden" name="_redirect" value="https://vegansally.co.uk/thank-you" />
  <label for="name">
    Name
    <input type="text" id="name" name="name" placeholder="Your name" required="">
  </label>
  <label for="email">
    Email
    <input type="email" id="email" name="email" placeholder="Your email address">
  </label>
  <label for="phone">
    Phone
    <input type="text" id="phone" name="phone" placeholder="Your phone number">
  </label>
  <label for="message">
    Message
    <textarea id="message" name="message" placeholder="Your message" required=""></textarea>
  </label>
  <button type="submit">Send Enquiry</button>
</form>
