<div class="embed-reviews margin--bottom">
  <iframe
    title="Reviews from the Sally's Bakes Facebook Page"
    loading="lazy"
    width="100%"
    height="400"
    sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fsallysbakes%2F&show_posts=true&width=285&height=800&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false"
  ></iframe>
</div>
