<ul class="social-links">
	<li class="social-links__list">
		💙
		<a rel="noopener" class="social-links__link" href="https://www.facebook.com/sallysbakes" target="_blank">
			<strong>Like</strong> me on
			<strong>Facebook</strong>
		</a>
	</li>
	<li class="social-links__list">
		🔍
		<a rel="noopener" class="social-links__link" href="https://goo.gl/maps/xTNreANmJEz" target="_blank">
			<strong>Review</strong> me on
			<strong>Google Maps</strong>
		</a>
	</li>
	<li class="social-links__list">
		🐮
		<a rel="noopener" class="social-links__link" href="https://www.happycow.net/reviews/sallys-bakes-bury-158398"
		 target="_blank">
			<strong>Review</strong> me on
			<strong>Happy Cow</strong>
		</a>
	</li>
</ul>
