@charset "utf-8";
// Define defaults for each variable.
$highlight: #007e60 !default;
$text: #3a3a3a !default;
$header: white !default;

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/abeezee-latin-400-normal.woff2) format('woff2'), url(/assets/fonts/abeezee-latin-400-normal.woff) format('woff'); 
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


body {
  background-color: #091b17;
  background: url("/assets/background.png");
  background-attachment: fixed;
  color: $text;
}

h1,
h2,
h3,
h4,
h5,
nav {
  font-stretch: condensed;
  font-weight: normal;
}

img {
  max-width: 100%;
  display: block;
}

img#banner {
  width: 100%;
}

.homepage-gallery p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  a {
    aspect-ratio: 1;
    width: 100%;
    border: 2px solid #dd9ec2;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
      border-color: white;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

hr {
  border-top: 1px solid $text;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

nav.navbar {
  font-family:
    "ABeeZee",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

nav,
footer {
  background: #008070
}

main .container {
  background: #ffbfe4;
  border: 2px solid #f497cc;
  border-radius: 5px;
}

span.hidden-sm {
  @media (max-width: 575.98px) {
    display: none;
  }
}

a {
  color: #00664D;
  text-decoration: underline;
  transition: color 0.3s ease-in;
}

.navbar {
  a {
    color: $header;
    text-decoration: none;
  }
  .navbar-brand {
    font-size: 130%;
  }
  &__link {
    font-size: 1.2rem;
    margin-right: 1.5rem;
    &:hover,
    &.active,
    &:active {
      color: yellow;
      text-decoration: none;
    }
  }
  @media (max-width: 575.98px) {
    text-align: center;

    .container {
      display: block;
    }
    &__link {
      margin-right: 0.5rem;
    }
  }
}

main {
  padding: 30px 0 90px;
  line-height: 1.8;
  color: $text;
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media (max-width: 575.98px) {
    margin: 10px;
    padding-top: 10px;
  }
}

.header {
  border-bottom: 1px solid $text;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  &__subtitle {
    opacity: 0.7;
    margin-left: 1rem;
  }
  @media (max-width: 991.98px) {
    text-align: center;

    &__subtitle {
      display: block;
      font-size: 50%;
    }
  }
  @media (max-width: 575.98px) {
    &__subtitle {
      font-size: 60%;
    }
  }
}

.margin {
  &--top {
    margin-top: 60px;
  }
  &--bottom {
    margin-bottom: 60px;
  }
}

hr {
  border-top-color: #eee;
}

.page, .social-links {
  a {
    color: #007e60;
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      color: black;
    }
  }
}

.page {
  &--home,
  &--praise {
    strong {
      color: $highlight;
    }
  }
  h2 {
    padding-top: 60px;
    padding-bottom: 10px;
    margin-top: 0;
    i {
      width: 3em;
      opacity: 0.3;
      text-align: center;
      font-size: 90%;
    }
  }
  &--menu {
    text-align: center;
    em,
    .green {
      color: #1cb81c;
      font-style: normal;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    @media (max-width: 575.98px) {
      h2 {
        padding-top: 115px;
      }
    }
  }
  @media (max-width: 575.98px) {
    h1,
    h2,
    h3 {
      text-align: center;
    }
  }
}

.embed-reviews {
  iframe {
    display: block;
    border: 0;
    max-width: 285px;
    margin: 0 auto;
  }
}

.social-links {
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    padding: 0 0 20px 40px;
    min-height: 2em;

    span {
      font-size: 1.5rem;
    }
  }
}

footer {
  padding: 4rem 0;
  line-height: 200%;
  color: white;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  a {
    color: white;
    &:hover {
      color: yellow;
    }
  }
}

.warning-notice {
  background: #f9eeee;
  padding: 10px;
  margin-bottom: 2em;
  line-height: 1.2;
  text-align: center;
  border: 1px solid #a60000;
  color: #a60000;
}

.contact-form {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 1rem auto;

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  label {
    color: #2E7531;
    font-family: "ABeeZee";
  }

  input,
  textarea,
  button {
    padding: 0.3rem 0.5rem;
    font-family: "ABeeZee";
    border-radius: 3px;
    border: 1px solid #CCC;
    font-size: 1.2rem;
  }

  textarea {
    height: 6rem;
  }

  button {
    color: white;
    font-size: 1.2rem;
    background: #008a7c;
    border: none;
    font-family: "ABeeZee";
    cursor: pointer;

    &:hover {
      color: yellow;
    }
  }
}
