---
layout: default
---

{% include title.html %}

<!--
<div class="img-thumbnail margin--bottom">
  <img
    id="banner"
    alt=""
    srcset="
      /assets/banner-500.jpg   500w,
      /assets/banner-680.jpg   680w,
      /assets/banner-920.jpg   920w,
      /assets/banner-1920.jpg 1920w
    "
    sizes="100vw"
  />
</div>
-->

<div class="row">
  <div class="col-md-8 page page--home margin--bottom">{{ content }}</div>
  <div class="col-md-4">
    {% include social-media-feeds.html %} {% include social-media-links.html %}
  </div>
</div>
