---
layout: default
---

<div itemscope itemtype="http://schema.org/BlogPosting">
  <div class="header">
    <h1 class="header__text" itemprop="heading">
      {{ page.title | escape }}
      {% if page.subtitle -%}
      <small class="header__subtitle">
        {{- page.subtitle -}}
      </small>
      {%- endif -%}
    </h1>
  </div>
  <div class="content" itemprop="articleBody">
    <p>
      <em
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = "%b %-d, %Y" -%}
        {{- page.date | date: date_format -}}
      </em>
    </p>
    {{ content }}
  </div>
</div>
